@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
}
.guide-paragraph-article {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.card-product-1 {
	background-image: url(/static/img/product-1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.card-product-2 {
	background-image: url(/static/img/product-2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.card-product-3 {
	background-image: url(/static/img/product-3.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.card-product-4 {
	background-image: url(/static/img/product-4.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.card-product-5 {
	background-image: url(/static/img/product-5.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.card-product-6 {
	background-image: url(/static/img/product-6.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
